html, body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
}

body, section, footer, .gallery-bg {
	background-image: url("../img/noise-bg.png");
} 

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

h1 {
    text-shadow: 2px 2px 1px #000;
    font-size: 30px;
}


h3 {
	font-size: 21px;
}

h5 {
	text-transform: none;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
}

a {
    color: #020202;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    font-weight: bold;
}

a:hover,
a:focus {
    text-decoration: none;
    opacity: .8;
}

.light {
    font-weight: 400;
}

.container {
    width: 100%;
}

.hero {
	padding-top: 100vh;
}


/* ========== Nav ========= */
.navbar-custom {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #fff;
    opacity: .8;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #fff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #000;
    text-shadow: 1px 1px 1px #fff;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    opacity: .6;
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: transparent;

}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 0;
        border-bottom: 1px #000;
        letter-spacing: .8px;
        background: 0 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
        background: #fff;
    }

/*    .navbar-custom.top-nav-collapse {
        padding: 0;
        background: none;
    }*/
}



/* ====== Main ====== */
.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
	background: url(/img/bg-desktop-landscape-full.jpg) no-repeat;
	height: 100vh;
	background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*  linear-gradient(rgba(237, 242, 172, 0.25), 
	    rgba(1, 255, 203, 0.2)) */

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
}

.intro .intro-body .intro-text {
    text-align: center;
    padding-bottom: 20px;
    text-shadow: 2px 1px 0px rgb(0 0 0);
}

.brand-heading {
    font-size: 65px;
}

/* Tabs page */
.tabs-bg {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
	background: url(/img/tabs-bg.jpg) no-repeat;
	height: 100vh;
	background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*  linear-gradient(rgba(237, 242, 172, 0.25), 
	    rgba(1, 255, 203, 0.2)) */

.tabs-bg .faq-bg .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.tabs-bg .faq-bg .intro-body .brand-heading {
    font-size: 40px;
    text-shadow: 1px 1px 2px rgba(0,0,0,1);
    padding-bottom: 20px;
}

.tabs-bg .faq-bg .intro-body {
    font-size: 18px;
    text-shadow: 2px 1px 1px rgba(0,0,0,.7);
}





/* FAQ page */
.faq-bg {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    color: #fff;
	background: url(/img/faq-bg-desktop.jpg) no-repeat;
	height: 100vh;
	background-position: left top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.faq-heading {
	font-size: 60px;
	text-shadow: 1px 1px 2px rgb(0 0 0);
    padding-bottom: 20px;
}



.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    border: 2px solid #fff;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

@media(min-width:768px) {
	.btn, .btn-circle {
		display: none;
	}
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {    
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {    
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}




/* ======== About ======== */
.about-section {
    padding-bottom: 25px;
}

.about-section span {
	font-weight: bold;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 110px;
    margin-top: -10px;
}




/* ======= CONTACT ======= */
.content-section {
    background-color: #fff;
    padding-top: 50px;
}

.contact-section span {
	font-weight: bold;
}

.phone {
	padding-top: 5px;
    font-size: 20px;
}

.email-link {
	font-size: 21px;
}





/* ======== Music ========*/
.music-section {
	padding-bottom: 50px;
}
.music-section span {
    font-weight: bold;
}




/* ======= Testimonials ======= */
.quote {
	text-align: center;
    font-style: italic;
    font-size: 17px;
    padding: 15px;
    font-family: 'Montserrat';
    padding-top: 35px;
}

/*.quote-spacer {
	padding-bottom: 10px;
}*/





/* ======== Press ========*/
.press-section {
	padding: 70px 0 50px 0;
    width: 100%;
    background-color: #fff;
    background: url(/img/press-bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.press-section span {
    font-weight: bold;
}

#press.col-lg-12 {
    padding-left: 0;
    padding-right: 0;
}

.press h3 {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align: center;
	color: #fff;
	text-transform: none;
}

.press h2 {
	color: #000;
	text-shadow: 1px 1px 1px #fff;
    padding-bottom: 40px;
}

.press h5 {
	text-align: center;
    color: #fff;
    font-size: 13px;
    text-shadow: 1px 1px 0px #000;
}

.press h5:hover {
	opacity: .6;
}

.press h3 span {
	color: #fff;
	font-size: 20px;
	text-transform: none;
	text-shadow: 1px 1px 0px #000;
}

.press h5 {
    font-family: Lora,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.press p {
    text-transform: uppercase;
    font-size: 1.2em;
   	text-align: right;
	color: #fff;
}

.yelp {
    padding-top: 50px;
}

.extra-padding {
    padding-bottom: 50px;
}


/* ======== Button ======== */
.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: none;
    color: #FAF79B;
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: none;
    outline: 0;
    color: #FFF310;
    background-color: transparent;
}

.logo-box {
	padding: 20px 0;
}

.logo {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 5px solid #fff;
	margin: 0 auto;
	display: block;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

.location {
	padding-top: 80px;
}

.social-icon {
	padding: 0 5px;
}





/* ====== PRESS ====== */
.yelp, .thumbtack {
	float: right;
}

.google-badge img {
	width: 170px;
}

.thumbtack-badge img {
	width: 75px;
}

.yelp-badge img {
	width: 120px;
	margin-right: 10px;
}



/* ====== BADGES SECTION ===== */

#badges {
    padding-top: 40px;
}

.footer-google-badge img {
    width: 145px;
    float: right;
    margin-right: 12px;
    margin-left: 12px;
}

.footer-expertise-badge img {
    width: 100px;
    float: right;
    margin-right: 12px;
    margin-left: 12px;
}

.footer-yelp-badge img {
    width: 110px;
    float: right;
    margin-right: 25px;
    margin-left: 12px;
    margin-bottom: 14px;
}

.footer-thumbtack-badge img {
    width: 75px;
    float: right;
    margin-right: 12px;
    margin-left: 12px;
}



/* ====== FOOTER ====== */
footer {
	background: #393838;
	padding-top: 50px;
	padding-bottom: 25px;
    border-top: solid 1px #000;
}

footer p {
    margin-top: 10px;
    color: #fff;
}

footer span {
    font-weight: bold;
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons p {
	margin: 0;
}

ul.banner-social-buttons a {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
	color: #ffffff;
}
ul.banner-social-buttons a:hover {
	color: #fff;
	opacity: .6;
}

.copyright p {
    font-size: 11px;
    margin-bottom: 20px;
    text-align: center;
}





/* ====== FAQ ====== */
 #faq {
	margin-bottom: 15px;
	}

.faq-section {
	padding-bottom: 50px;
}

#faq p {
	font-size: 17px;
}

.lesson-policy li {
	font-size: 17px;
    text-align: left;
}


/* ====== TABS ====== */
/* some tab styling is above for bg behavior, etc */
.tabs-list {
	margin-top: 30px;
}
.tabs-list ul {
	list-style-type: none;
	padding: 0;
}
.tabs-list ul a span {
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	color: #000;
}

.tab-section {
	margin-bottom: 50px;
	margin-top: 30px;
}

.tab-left-align-container {
	text-align: left;
}





/* ====== MISC ====== */
::-moz-selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

::selection {
    text-shadow: none;
    background: #fcfcfc;
    background: rgba(255,255,255,.2);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.2);
}





/* ====== Media Queries ====== */


@media only screen and (max-width: 500px) {
	.mobile-tabs-background {
	    background: url(/img/tabs-bg-mobile.jpg) no-repeat;
	    height: 100vh;
	    background-position: center top;
	    -webkit-background-size: cover;
	    -moz-background-size: cover;
	    background-size: cover;
	    -o-background-size: cover;
	}
}


@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        line-height: 1.6;
    }
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 80px;
    }

    .intro .intro-body .intro-text {
        font-size: 20px;
    }
    .tabs-bg .faq-bg{
        height: 100%;
        padding: 0;
    }

    .tabs-bg .faq-bg .intro-body .brand-heading {
        font-size: 100px;
    }

    .tabs-bg .faq-bg .intro-body .intro-text {
        font-size: 26px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        margin-bottom: 5px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

@media(min-width:767px) {
    .press-section {
        padding: 70px 0;
    }

    #map {
        height: 400px;
        margin-top: 0;
    }
}

@media(max-width:766px) {
    #map {
    	margin-top: 0;
    	height: 230px;
    }
    .navbar-nav>li>a {
    	text-align: center;
    }
}





/* ===== Bootstrap Overrides ====== */ 
.navbar {
	border-bottom: 1px solid #898989;
}

a.navbar-brand.page-scroll {
	padding-right: 0;
}

.navbar-toggle {
	margin-top: 4px;
}

@media(max-width: 360px) {
    .navbar-brand {
    padding-right: 0;
    font-size: 1em;
    }
}

@media (min-width: 850px) {
    .col-lg-offset-2 {
    margin-left: 16.66666667%;
    }
    #contact {
	margin-bottom: 15px;
	}
	.col-lg-8 {
        width: 66.66666667%;
    }
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 15px 10px;
}




/** Gallery bg fix **/
.blueimp-gallery>.slides>.slide {
	background: #fff;
}



.header-italic {
	font-family: cursive;
	font-size: 18px;
	padding-bottom: 20px;
}




/* HR Styling */
.divider-1 {
	position: relative;
	margin-top: 50px;
	padding-bottom: 50px;
	height: 1px;
}

.divider-2 {
	position: relative;
	margin-top: 0;
	padding-bottom: 50px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid rgb(48,49,51);
	border-right: 1px solid rgb(48,49,51);
}

.no-margin-btm {
	margin-bottom: 0;
}

.btm-pad {
	padding-bottom: 20px;
}

ul.list-inline .donate-icon img {
	margin-bottom: 12px;
}

#WG-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 40px;
}



/** Do REMOTE LESSONS WORK PAGE **/

.remote-h4 {
    text-align: left;
    text-transform: none;
}


/** FORM CODE **/
/* reset */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: 1.3rem;
  margin-bottom: .5rem;
  padding-top: .2rem;
  display: flex;
  align-items: baseline;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(255,255,255,0.9);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

/* address, locale */
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  display: inline;
}
#fs-frm fieldset.locale input[name="city"] {
  width: 52%;
}
#fs-frm fieldset.locale select[name="state"],
#fs-frm fieldset.locale input[name="postal-code"] {
  width: 20%;
}
#fs-frm fieldset.locale input[name="city"],
#fs-frm fieldset.locale select[name="state"] {
  margin-right: 3%;
}













